@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #fff;
  --x: 50%;
  --y: 50%;
  --spotlight-size: 800px;
}

.dark {
  --foreground: #fff;
  --background: #000;
}

@layer components {
  .theme-toggle-button {
    @apply cursor-move z-50 p-2 rounded-full bg-gray-100 dark:bg-gray-800 transition-all duration-300 hover:ring-2 hover:ring-blue-400 hover:scale-105 shadow-lg active:cursor-grabbing;
  }
  
  .theme-icon {
    @apply w-5 h-5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: background-color 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

#spotlight {
  opacity: 1;
  mix-blend-mode: soft-light;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

body:hover #spotlight {
  opacity: 1;
}

.dark #spotlight {
  mix-blend-mode: color-dodge;
}

@media (hover: hover) {
  #spotlight {
    animation: spotlight-fade-in 0.5s ease;
  }
}

@keyframes spotlight-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}